@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: #121222;
    color: #ede8c6;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

ul {
    margin-top: 55px;
    margin-bottom: 55px;
}

.container {
    width: 90%;
    max-width: 800px; 
}

.social-links {
  list-style: none;
  padding: 0;
}

.social-links li {
  margin-bottom: 10px;
}

.social-links a {
  text-decoration: none;
  color: #bbb;
  font-size: 1.3rem;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: #5a5ad7;
}

.contact-info {
  list-style: none;
  margin-top: 30px;
  padding:0;
}

.contact-info li {
  margin-bottom: 5px; 
}

.contact-info a{
  text-decoration: none;
  color: #818181;
  font-size: 1.1rem;
  transition: color 0.3s ease;
}

#title {
    font-size: 2.4rem;
    margin-bottom: 10px;
}

#greeting {
    font-size: 1.5rem;
    margin-bottom: 25px;
}

.link-desc {
    color: #888;
    font-size: 0.9rem;
    margin: 4px 0 12px;
}

